*/runs
*/content 
*/.ipynb_checkpoints
*/yolov5s.pt
*/datasets 
*/yolov8n.pt
*/yolov8s.pt 
.python-version
.env
.ipynb_checkpoints
.parcel-cache
*/node_modules
*/*.jpg
*/test-yolo-js-api.nnb
*/js_model.html
notebooks-transformer/*
*/cv-note.ipynb

